<launch>

  <arg name="vitesse_lin" default="0.5"/>
  <arg name="vitesse_ang" default="0.2"/>

  <include file="$(find challenge_project)/launch/gazebo_cha3.launch">
    <!--arg name="world_name" value="$(find challenge_project)/worlds/challenge2.world"/-->
    <arg name="x" value="-5.2"/>
    <arg name="y" value="1.2"/>
    <arg name="z" value="0.02"/>
    <arg name="yaw" value="3.14"/>
  </include>

  <include file="$(find challenge_project)/launch/movement_corridor.launch">
    <arg name="nom" value='turtlebot'/>
  </include>

  <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

  <node pkg="joint_state_publisher" type="joint_state_publisher" name="state_publisher"></node>

  <param name="linear_scale" type="double" value="$(arg vitesse_lin)" />
  <param name="angular_scale" type="double" value="$(arg vitesse_ang)" />

</launch>
