<launch>

  <arg name="task1" default="true"/>

  <group if="$(arg task1)">
    <include file="$(find challenge_project)/launch/challenge3/challenge3_task1.launch"/>
  </group>

  <group unless="$(arg task1)">
    <param name="task1_running" type="bool" value="false"/>
    <include file="$(find challenge_project)/launch/gazebo.launch">
      <arg name="x" value="-5.2"/>
      <arg name="y" value="1.2"/>
      <arg name="z" value="0.02"/>
      <arg name="roll" value="0"/>
      <arg name="pitch" value="0"/>
      <arg name="yaw" value="3.14"/>
      <arg name="world" value="$(find challenge_project)/worlds/challenge3.world"/>
    </include>
    <node pkg="challenge_project" name="lds_distance" type="lds_distance_publisher.py" required='true'/>
  </group>
  <param name="task2_part1_running" type="bool" value="true"/>
  <param name="task2_part2_running" type="bool" value="true"/>
  <param name="linear_scale" type="double" value="0.5" />

   <node pkg="challenge_project" name="movement_corridor" type="movement_corridor.py" launch-prefix="xterm -e"/>
   <node pkg="challenge_project" name="movement_corridor_2" type="movement_corridor_part2.py" launch-prefix="xterm -e"/>
</launch>
