<?xml version="1.0"?>
<!-- author: Pierre Joyet (3407684) - Marine CORNET (3531423) - ROS Project - M1 SAR 2020 -->

<launch>
  <!-- gazebo gui launch -->
  <arg name="gui" default="true"/>

  <!-- robot initial position and rotation -->
  <include file="$(find challenge_project)/launch/gazebo.launch">
    <arg name="x" value="-1"/>
    <arg name="y" value="0.4"/>
    <arg name="z" value="0.02"/>
    <arg name="roll" value="0"/>
    <arg name="pitch" value="0"/>
    <arg name="yaw" value="4.7124"/>
    <arg name="world" value="$(find challenge_project)/worlds/challenge3.world"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- running task indicator -->
  <param name="task1_running" type="bool" value="true"/>

  <!-- start distance publisher node -->
  <node pkg="challenge_project" name="lds_distance" type="lds_distance_publisher.py" required='true'/>
  <!-- start line following obstacle avoidance node -->
  <node pkg="challenge_project" name="linefollow_obstavoidance" type="line-follow_obst-avoidance.py"/>

  <!-- Garage Door -->
  <node name="DOOR" pkg="challenge_project" type="challenge3a_world_control.py"/>
  <!-- Moving obstacle -->
  <node name="OBSTACLE" pkg="challenge_project" type="challenge3b_world_control.py"/>

  <!-- camera image viewer -->
  <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/camera/image_raw" />
  </node>

</launch>
