<!--auteur: Pierre Joyet (3407684) - Marine CORNET (3531423) - Projet ROS - M1 SAR 2020-->

<launch>
   <arg name="angle" default="2"/>
   <arg name="nom" default="turtlebot"/>
   <param name="mean_angle" type='double' value='$(arg angle)'/>

   <node pkg="challenge_project" name="lds_FBLR_data" type="lds_FBLR_publisher.py" launch-prefix="xterm -e" args='$(arg nom)' required="true"/>
   <node pkg="challenge_project" name="lds_distance_servoing" type="lds_distance_servoing.py" launch-prefix="xterm -e" required="true"/>

</launch>
